kind: Deployment
apiVersion: apps/v1
metadata:
  name: mydeployment
spec:
  replicas: 2
  selector:
    matchLabels: 
      app: myspringbootapp
    template:
      metadata:
        labels:
          app: myspringbootapp
      spec:
        containers:
          - name: myspringbootapp
            image: cgao/mydemoapplication:latest
            imagePullPolicy: Always
            ports:
              - containerport: 9099

